/*put on every page
default basic css for all file*/
*{
    margin:0;
    padding:0;
    -webkit-user-select:none;
}
input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
   }
html{
  height:100%;
  background-image: linear-gradient(to bottom right, #379c53, #75e092);
}
#nav{
  background-color: #fafafa;
  height: 10vh;
  font-family: "Helvetica";
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
#logo{
  color:#58c074;
  font-size: 8vh;
  padding-left: 31vw;
  padding-top: 1vh;
  display: inline;
  position: absolute;
}
#homeBtn{
  display: inline;
  float: right;
  height: 12vw;
  position: absolute;
  top: 2vh;
  right: 4vw;
}
