/*put on every page
default basic css for all file*/
*{
    margin:0;
    padding:0;
}
html{
  height:100%;
  background-image: linear-gradient(to bottom right, #379c53, #75e092);
}
#nav{
  background-color: #fafafa;
  height: 10vh;
  font-family: "Century Gothic";
}
#logo{
  color:#58c074;
  font-size: 11vw;
  padding-left: 33.5vw;
  padding-top: 3vw;
  display: inline;
  position: absolute;
}
#homeBtn{
  display: inline;
  float: right;
  height: 11vw;
  position: absolute;
  top: 2vh;
  right: 1.5vh;
}
