*{
  font-family: "Century Gothic";
}
html{
  background-image: linear-gradient(to bottom right, #379c53, #75e092);
}
#wkspceLogo{
  font-size: 10vh;
  text-align: center;
  margin-top: 10%;
  color:white;
}
.btn{
  display:block;
  border: white solid 0.3vh;
  color: white;
  background-color: Transparent;
  border-radius: 2.5vh;
  outline: none;
  cursor: pointer;
  width: 70%;
  height:15vh;
  text-align: center;
  position: relative;
  left:15%;
  font-size:8vh;
  padding:3vh;
  margin-top: 17%;
  padding-bottom: 14vh;
}
.btn:active{
}
body{
  overflow: hidden;
}
#signupBtn{
  font-size: 7vh;
}
#loginPg{
  display:none;
  overflow: hidden;

}
#signupPg{
  display:none;
  overflow: hidden;
}
.credentials{
  margin-left: 9vw;
  height: 6vh;
  width:80%;
  font-size: 3vh;
  border:none;
  outline:none;
}
.credentials:focus{
  border-bottom: 0.2vh solid #8df3a9;
  transition-duration: 0.3s;
}
h1{
  font-size: 8vh;
  margin-top: 1vh;
  margin-left: 6vw;
  margin-bottom: 7vh;
}
h3{
  font-size: 4vh;
  margin-left: 6vw;
  margin-top: 5vh;
  margin-bottom: 1vh;
}
