* {
  font-family:sans-serif;
}
#searchPage{
  text-align: center;
  display: flex;
}
/*search bar*/
#inputTrash {
  margin-top: 5vh;
  padding-left: 3vw;
  margin-left: 7vw;
  font-size: 4vh;
  width: 80vw;
  height: 8vh;
  background-color: #f1f1f1;
  border-radius: 2vh;
  color: #58c074;
}
#searchButton{
  margin-top:5vh;
  padding-left: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 6.5vh;
  margin-left: 2vw;
  margin-left: -17vw;
  border-left: solid black 0.1vw;
  box-shadow: none;
  z-index: 100;
}
ul{
  list-style: none;
  list-style-type: none;
}

/*don't change.. trust me on this one*/
.ui-helper-hidden-accessible{
  display: none;
}
/*the container of the menu items that drop down when typing */
.ui-menu{
  background-color: #fafafa;
  width:78vw;
  margin:1vw;
  margin-left: 5vw;
}

/*the items that drop down when you are typing (hopefully that makes sense)*/
.ui-menu-item{
  font-size: 4vh;
  padding: 1.5vh;
  padding-left: 0.8vw;
}
.ui-menu-item:active{
  background-color:blue;
  color:#fafafa;
}

.header{
  position: absolute;
  font-family: "Century Gothic";
  font-size: 5vh;
  text-align: center;
  font-weight: normal;
}
#postPage{
  position: absolute;
  top: 0;
  margin-top: 10vh;
  display: none;
  background-image: linear-gradient(to bottom right, #379c53, #75e092);
}
#title{
  font-size: 13vw;
  text-align: center;
  padding-top: .5vh;
  padding-bottom: 1.2vh;
  color:#fafafa;
  font-family: "helvetica";
  margin: 1.5%;
}
#wrapper{
  text-align: center;
}
#basicInfo{
  width:85%;
  background-color: #fafafa;
  padding:1.8vh;
  display:inline-block;
  text-align: center;
  border-radius: 25px
}
#picture{
  width:65%;
  padding-left:3%;
}
#basicInfo p{
  font-size: 6vw;
  padding-top: .5vh;
  padding-bottom:1vh;
  color:#58c074;
}
/* styles of the more detailed info */
.tabs{
  font-size:10vw;
  color:#fafafa;
  text-align: center;
  padding-top:1.1vh;
  padding-left:1vw;
}
.descriptions{
  padding-left:3vw;
  font-size:8vw;
  color:#fafafa;
  padding-top:.5vh;
  padding-bottom: 1vh;
  padding-right: 1.1vw;
}
