* {
  box-sizing: border-box;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
#workspace{
  text-align: center;
}
#inputTrash {
  margin-top: 3vh;
  font-size: 4vh;
  width:100%;
  background-color: #f1f1f1;
}
