#navigation{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#navigation div{
  width:100%;
}
.navPhoto{
  height:30vh;
  width:35vw;
  float:left;
}
#photo-div{
  background-color: red;
}
#map-photo{
  float:right;
}
#map-div{
  background-color: blue;
}
#search-div{
  background-color: yellow;
}
