html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: #fafafa;
}
.selection{
  display: block;
  border: #fafafa solid 0.3vh;
  color: white;
  background-color: Transparent;
  border-radius: 2.5vh;
  outline: none;
  cursor: pointer;
  width: 70%;
  height: 19vh;
  text-align: center;
  position: relative;
  left: 10%;
  font-size: 8vh;
  padding: 3vh;
  margin-bottom: 6%;
}
.mainLogo{
  position: absolute;
}
#cameraImg{
  top: 4vh;
  height: 16vh;
  left: 42.3vw;
}
#seaImg{
  top: 2.7vh;
  height: 19.5vh;
  left: -3vw;
}
#mapImg{
  height: 18vh;
  top: 4vh;
  left: 40vw;
}
.header{
  position: absolute;
  font-family: "Century Gothic";
  font-size: 5vh;
  text-align: center;
  font-weight: normal;
}
.desc {
  position: absolute;
  font-family: "Century Gothic";
  width: 50%;
  font-size: 2.72vh;
  text-align: center;
}
#camHead {
  top: 1vh;
  left: 3vw;
}
#seaHead{
  left: 44vw;
  top: 0vh;
}
#mapHead{
  top: 0vh;
  left: 12vw;
}
#camDesc{
  top: 7vh;
  left: 1vw;
}
#seaDesc{
  left: 39vw;
  top: 6.5vh;
  font-size: 3vh;
}
#mapDesc{
  top: 6.7vh;
  left: 1vw;
  font-size: 3.16vh;
}
#invisBtn{
  visibility: hidden;
  height: 0px;
  width: 0px;
}
